.navbar {
    text-align: center !important;
}

.w3-navbar li {
    float:none;
    display:inline-block;
}

.w3-blue {
    background-color: #3498db;
}

.header-margin-fix  {
    margin-top: 100px;
}

.sendButton {
    width:100%;
}

/*Responsive FIx*/

@media only screen and (max-width: 500px) {
    .w3-navbar li:not(.w3-opennav) {
    width:80% ;
}

.w3-show ul li {
    width:100% !important;
}

.poll-div {
    width:85%;
    margin:10px 25px;
}

.signup-controller .form-group {
    width:100%;
}

.signup-controller button {
    width: 100%;
}

.w3-jumbo {
    font-size:20px !important;
}

.main-buttons-fix {
    margin:0;
    width:100%;

}



}


